/* login/signup */
form>button {
    border-radius: 22px;
    padding: 10px 27px 10px 27px;
    font-size: 15px;
    border: 1px solid #000000;
    background-color: black;
    color: white;
    transition: all .33s;

}

.form-outline>input {
    border-radius: 20px;
    font-size: 17px;
}

form>button:hover {
    background-color: #ffffff;
    color: #000000;

}

form>p {
    cursor: pointer;
}